<div class="container" style="margin-top: 10%;">
    <div class="row">
        <div class="col-md-8">
            <h3>LOG IN</h3>
            <div class="card border-danger mb-3 " style="max-width: 100rem;">
                <div class="card-header">Log In</div>
                <div class="card-body">

                    <div *ngIf=" submitted && (errMsgPwd ||errMsgEmail)" class="alert alert-danger">
                        {{errMsgPwd}} {{errMsgEmail}}
                        </div>
                    <form [formGroup]="formLogin" (ngSubmit)="login()">
                        <fieldset>
                         
                          <div class="form-group">
                            <label for="exampleInputEmail1">EMAIL : </label>
                            <input type="email" class="form-control" 
                            id="exampleInputEmail1" aria-describedby="emailHelp" 
                            placeholder="Enter email..." formControlName="email" required>
                           
                          </div>
                                            
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    
                    <div *ngIf="email.errors.required">
                    Email is required.
                    </div>
                    <div *ngIf="email.errors.email">
                    Email must be like c@gmail.com
                    </div>
                    </div>
                        
                          <div class="form-group">
                            <label for="exampleInputEmail1">PASSWORD : </label>
                            <input type="password" class="form-control"
                             id="exampleInputEmail1" aria-describedby="emailHelp" 
                             placeholder="Enter email..."formControlName="password"required>
                         
                          </div>
                    
                            
                          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    
                            <div *ngIf="password.errors.required">
                                Password is required.
                            </div>
                          
                            
                          
                          </div>
                       
                     </fieldset>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-warning" (click)="cancelL()">Cancel</button>
                        <button type="submit" class="btn btn-info" [disabled]="!formLogin.valid">Log In</button>
                      </div>
                      </form>
                </div>
              </div>

              <a (click)="goToRegister()">Register</a>
        </div>



        <div class="col-md-4" *ngIf="openRegister==true">

            <h3>Sign Up</h3>
            <div class="card border-danger mb-3 " style="max-width: 100rem;">

                <div class="card-header">Sign Up</div>
                <div class="card-body">

                    <form [formGroup]="signUpForm" (ngSubmit)="register()">
                        <fieldset>
                         
                            <div class="form-group">
                                <label for="exampleInputEmail1">Full name : </label>
                                <input type="text" class="form-control" id="exampleInputEmail1" 
                                aria-describedby="emailHelp" 
                                placeholder="Full name...."
                                formControlName="fullName">
                             
                              </div>

                          <div class="form-group">
                            <label for="exampleInputEmail1">EMAIL : </label>
                            <input type="email" class="form-control" id="exampleInputEmail1" 
                            aria-describedby="emailHelp" placeholder="Enter email..."
                            formControlName="email" required>
                           
                          </div>
                        
                          <div class="form-group">
                            <label for="exampleInputEmail1">PASSWORD : </label>
                            <input type="password" class="form-control" 
                            id="exampleInputEmail1" aria-describedby="emailHelp" 
                            placeholder="Enter  password..."
                            formControlName="password"required
                            >
                         
                          </div>
            
            
                          
                         
                       
            
                         
                       
                     </fieldset>
            
                     <div class="modal-footer">
                        <button type="button" class="btn btn-warning" (click)="cancelR()">Cancel</button>
                        <button  class="btn btn-info" type="submit"  [disabled]="!signUpForm.valid">Sign Up</button>
                      </div>
                      </form>

                </div>
            </div>

        </div>

    </div>

   
   






</div>



