<div class="coming_soon_style">

    <!-- Body Start -->
    <div class="wrapper coming_soon_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cmtk_group">
                        <div class="ct-logo">
                            <a href="index.html"><img src="" alt=""></a>
                        </div>
                        <div class="cmtk_dt">
                            <h1 class="title_404">404</h1>
                            <h4 class="thnk_title1">The page you were looking for could not be found.</h4>
                          
                        </div>
                        <a class="btn btn-info" (click)="retour()" >Retour 
                    
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Body End -->


</div>