
<div class="container" style="margin-top: 80px;">
  
<div class="row">
  <div class="col-lg-6">
    <h3 *ngIf="!editMode"  class="text-center text-white rounded border border-dark m-2 p-2 bg-info" >Ajouter Element</h3>
    
    <h3 *ngIf="editMode"  class="text-center text-white rounded border border-dark m-2 p-2 bg-info" >Modifier Element</h3>
    
    
    <form [formGroup]="addform" (ngSubmit)="insertOrUpdateElement()">
   
      
      <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Element Name</label>
          <div class="col-sm-8">
            <input type="text" id="staticEmail" formControlName="element_name"  class="form-control"
             placeholder="ajouter un nom pour l'element...">
          </div>
        </div>
       <button *ngIf="!editMode;else chadi"  class="btn btn-success btn-block" type="submit" [disabled]="!addform.valid" >ajouter</button>
      
        <ng-template  #chadi>
          <button   type="submit" class="btn btn-fill btn-info"
          [disabled]="!addform.valid" style="margin-right: 10px;" >Modifier</button>
        </ng-template>
 
      
      </form>

      
  </div>
 
  <div class="col-lg-6">
    <h3 class="text-center rounded text-white border border-dark m-2 p-2 bg-info" >List of all Elements</h3>
  
    <table class="table" *ngIf="allElem?.length>0">
      <thead>
     
      <th>Element Title</th>
      <th>Delete Element</th>
    </thead>
      <tr *ngFor="let elem of allElem">

        <td>
         {{elem.element_name}}
        </td>
        <td>
          <button class="btn btn-danger mr-2" (click)="deleteElem(elem._id)">  <i class="fas fa-trash-alt"></i></button>
          <a class="btn btn-info"   (click)="indexElement(elem)" >
            <i class="fas fa-edit"></i></a>
        </td>
      </tr> 
     </table>

   
      <div class="alert alert-dismissible alert-warning" *ngIf="allElem?.length==0">
   
        <h4 class="alert-heading">Ooops..!</h4>
        <p class="mb-0">
          Il n'existe pas des éléments jusqu'à maintenant..Ajoutez dès éléments s'il vous plait !!
          
         </p>
      </div>
    
   
  </div>
</div>
 
   
      
       <a (click)="logout()" style="float: right;color: red;">Log Out</a>  
  
  
  </div>
  
  
  